/* Poppins */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* Work Sans */
/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap"); */

/* Roboto */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */

:root {
  --clr-primary: #007bff;
  --clr-secondary: #6c757d;
  --clr-success: #28a744;
  --clr-danger: #dc3644;
  --clr-warning: #ffc109;
  --clr-info: #18a2b8;
  --clr-light: #f8f9fa;
  --clr-dark: #343a40;
  --clr-white: #ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  /* font-family: 'Work Sans', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  background-color: var(--clr-light);
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* questions */

.title {
  margin: 3rem 0;
  font-size: 2rem;
  text-align: center;
}

.question {
  background-color: var(--clr-white);
  padding: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-title p {
  font-size: 2rem;
  font-weight: 600;
}

.question-btn {
  background-color: transparent;
  border: 1px solid var(--clr-secondary);
  color: var(--clr-secondary);

  padding: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 0.5rem;
}

.question-text {
  border-top: 1px solid var(--clr-light);
  padding: 2rem 0;
  margin-top: 2rem;
}

.question p {
  margin-bottom: 0;
}

/* js */
.question-text {
  display: none;
}

.show-text .question-text {
  display: block;
}

.minus-icon {
  display: none;
}

.show-text .minus-icon {
  display: inline;
}

.show-text .plus-icon {
  display: none;
}
